<header class="header">
  <div class="header__item">
    <div class="header__burger mdi"
         [ngClass]="isActiveMenu ? 'mdi-menu-open' : 'mdi-menu'"
         (click)="toggleMenu()"
    ></div>
    <nav class="header__menu" [ngClass]="{'active' : isActiveMenu}">
      <ul>
        <li routerLinkActive="active">
          <a routerLink="/">Home</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/file">Files</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header__item">
    <div class="header__auth">
      <nav>
        <a routerLink="/login">Login/</a>
        <a routerLink="/registration">Registration</a>
      </nav>
    </div>
  </div>
</header>

